.row
  .col-12
    %h3 Contact

    %div
      Site by Tomasz Wegrzanowski (taw).
      You can contact me by
      = succeed "," do
        %a{href: "mailto:Tomasz.Wegrzanowski@gmail.com"} email
      = succeed "," do
        %a{href: "http://twitter.com/t_a_w"} twitter
      or by my account on basically every social site imaginable.

    %div
      This site has been adapted to TumbledMTG's needs with the immense help of Fenhl.

    %div
      Code is all on
      = succeed "." do
        %a{href: "https://github.com/taw/magic-search-engine"} github
      If you want API access I'd recommend getting code from there instead of hammering the poor servers.

    %div
      Card text and pictures are all copyright Wizards of the Coast.
